// Default parameters
params {
    outdir = './results'
}

// Process-specific configurations
process {
    withName: 'FASTQC' {
        cpus = 2
        memory = '4.GB'
    }
    withName: 'KALLISTO' {
        cpus = 8
        memory = '32.GB'
    }
}

// Execution profiles
profiles {
    // Default local profile
    standard {
        process.executor = 'local'
    }

    // AWS Batch profile
    aws {
        process.executor = 'awsbatch'
        aws.region = 'eu-west-1' // Change to your preferred AWS region
        workDir = 's3://your-nextflow-bucket/workdir' // IMPORTANT: Change to your S3 bucket!
    }
}

